
.div-flex {
  display: flex;
}

.text-editor-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-div-block {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0A74FF;
  padding: 7px;
  border-radius: 50%;

  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.div-size-icon {
  padding: 5px;
  margin-left: -8px;
  cursor: col-resize;
}

.image-div-block img, .div-reboot-pos img {
  pointer-events: none;
}

.div-trash-pos {
  position: absolute;
  left: -12px;
  top: -12px;
}

.div-text-content {
  padding: 8px;

  cursor: pointer;
  min-width: 195px;
  min-height: 18px;
}

.div-reboot-pos {
  position: absolute;
  top: -26px;
}

.box {
  position: absolute;
}